<div class="text-right m-4">
  <div class="flex flex-col">
    <div class="flex justify-center gap-5">
      <h1 class="text-2xl font-bold text-center mb-6">Gestión de Reservas</h1>
    </div>
    <div class="flex justify-end gap-5">

      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 " (click)="changeViewCalendar()">
        {{changeView ? 'Ver calendario' : 'Ver tabla'}}

      </button>

      <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" (click)="createReservation()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-2" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
        Crear Nueva Reserva
      </button>
    </div>
  </div>
</div>
<div class="container mx-auto p-4" *ngIf="!changeView">
  <app-table [dataSource]="reservations" [dataSourceColumn]="reservationsColumn"></app-table>
</div>
<div class="container mx-auto p-4" *ngIf="changeView">  
  <app-calendar [dataSource]="reservations"></app-calendar>
</div>