<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold text-center mb-6">Iniciar sesión</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Correo electrónico</label>
        <input id="email" type="email" formControlName="email"
          class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Ingresa tu correo electrónico" />
        <div
          *ngIf="this.loginForm?.get('email')?.invalid && (this.loginForm?.get('email')?.dirty || this.loginForm?.get('email')?.touched)"
          class="text-red-500 text-sm">
          <div *ngIf="this.loginForm?.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
          <div *ngIf="this.loginForm?.get('email')?.errors?.['email']">El correo electrónico no es válido.</div>
        </div>
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700">Contraseña</label>
        <input id="password" type="password" formControlName="password"
          class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Ingresa tu contraseña" />
        <div
          *ngIf="this.loginForm?.get('password')?.invalid && (this.loginForm?.get('password')?.dirty || this.loginForm?.get('password')?.touched)"
          class="text-red-500 text-sm">
          <div *ngIf="this.loginForm?.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="this.loginForm?.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6
            caracteres.</div>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <div *ngIf="errorMessage !== ''">
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative space-x-1" role="alert">
            <strong class="font-bold text-sm">Error:</strong>
            <span class="block sm:inline text-sm">{{ errorMessage }}</span>
          </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid || loading"
          class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Iniciar sesión
        </button>
      </div>
    </form>

    <div class="mt-4 text-center">
      <p class="text-gray-600">¿No tienes cuenta? <a [routerLink]="['/register']" class="text-blue-500">Regístrate
          aquí</a></p>
    </div>
  </div>
</div>